@font-face{
  font-family: ailerons;
  src: url('ailerons.otf');
}


h1{
  font-family: ailerons;
     }

h2{
       font-family: ailerons;
     }
 ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #f3f3f3;
}

li{
  float: right;
}
li a {
  font-family; ailerons;
  display: block;
  text-align: center;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #f9ddff;
}
